.custom-cursor {
    display: block;
    width: 12px;
    height: 12px;
    left: -4px;
    top: -4px;
    background-color: #9ad351;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    transition: scale 0.3s, width 0.3s, height 0.3s, backgroundColor 0.3s,
        opacity 0.3s, top 0.3s, left 0.3s;
    transform: translate(calc(-50% + 15px), -50%);
}

.custom-cursor.leave {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.custom-cursor_active {
    width: 36px;
    height: 36px;
    opacity: 0.4;
    transition: width 0.3s, height 0.3s, background 0.5s, opacity 0.3s top 0.3s,
        left 0.3s;
}

.custom-cursor_dark {
    background-color: #282828;
    transition: background 0.5s linear;
}

@media (max-width: 800px) {
    .custom-cursor {
        display: none;
    }
}
