.dev-timeline {
    width: 100%;
}

.dev-timeline-item {
    position:relative;
    width: 1px;
    margin: 0px 50px;
    /* background-color: #9ad351; */
}

.dev-timeline-item::before {
    content:counter(count_items2, decimal-leading-zero);
    position: absolute;
    top: 2px;
    right: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #9AD351;
    counter-increment: count_items2;
}

.dev-timeline-item::after {
    content:'';
    position: absolute;
    width: 14px;
    height: 14px;
    left: -7px;
    top: 5px;
    background: #282828;
    border: 1px solid #9AD351;
    border-radius:15px;
}

.dev-timeline-item:last-child {
    /* margin: 0; */
}

.dev-timeline-item:last-child::after {
    top: 0px;
}

.dev-timeline-item:last-child::before {
    top: -3px;
}

.dev-timeline-item:last-child p {
    line-height: 19px;
    padding-top: 0;
}

.dev-timeline-item:nth-child(even) p {
    padding-bottom: 15px;
}

.dev-timeline-item__src {
    position: relative;
    width: 467px;
    padding: 6px 0 34px 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.plans-timeline .dev-timeline-item__src {
    width:50vw;
    max-width: 640px;
}

.timeline-src {padding: 50px 0;counter-reset: count_items2;list-style-type: none;margin-bottom: 0;position: relative;min-width: 600px;width: 100%;}

.timeline-src::before {
    position: absolute;
    content:'';
    height: 60%;
    width:1px;
    background-color: #9AD351;
    bottom: 27%;
    left: 8.4%;
}

.promotion-welcome .timeline-src::before {
    left: 50px;
}

.plans-timeline .timeline-src::before {
    left: 7.7%;
}

.glow {
    width: 20px;
    height: 20px;
    background: rgba(154, 211, 81, 0.99);
    mix-blend-mode: normal;
    filter: blur(4px);
    border-radius: 1e+06px;
    position:absolute;
    left: 97.8%;
    top: -10px;
    z-index: 100;
    transition: 0.5s;
    display:none;
    box-shadow: 0 0 45px 1px #9ad351;
}


/* MAIN TIMELINE */
.test-new-timeline {white-space: nowrap;width: 100%;/* overflow: hidden; */min-height: 900px;}

.timeline-source {
    font-size:0;
    width:100%;
    max-width:1200px;
    padding: 306px 0 280px 0;
    counter-reset: count_items;
    position: relative;
}

.timeline-source::after {
    content:'';
    display: block;
    height:1px;
    width: 100%;
    margin-left: 0;
    background-color: #9ad351;
    position: absolute;
}

.timeline-item {
    position:relative;
    display:inline-block;
    width: 19%;
    /* max-width: 211px; */
}

.timeline-item:nth-child(even)::before {
    
}

.timeline-item:nth-child(even) {
    width: 17.5%;
}

.timeline-item:nth-child(odd) {
    width: 16.5%;
}

.timeline-item:nth-child(odd)::before {
    left: 104%;
}

.timeline-item:nth-child(odd)::after {
    left: 104%;
}

.timeline-item:nth-child(odd) .glow {
    left: 103%;
}

.timeline-item:nth-child(even) .glow {
    left: 100%;
}

.timeline-item:first-child {
    width: 12%;
}

.timeline-item:last-child {
    width: 19%;
}

.timeline-item:last-child::before {
    left: 99%;
}

.timeline-item:last-child::after {
    left: 99%;
}

.timeline-item:last-child .glow {
    left: 98%;
}

.timeline-item:not(:last-child) {
    margin-right:14px;
}



.timeline-item::after {
    content:'';
    position:absolute;
    top: -13px;
    bottom: 0px;
    width:12px;
    height:12px;
    transform: translateY(50%);
    border-radius:50%;
    background: #282828;
    border:1px solid #9ad351;
    z-index: 50;
    left: 101.5%;
}

.timeline-item:first-child::after {
    left: 99%;
}

.timeline-item:first-child .glow {
    left: 97.5%;
}

.timeline-item__src {
    position:absolute;
    left: 89px;
    min-width: 260px;
    width: 18%;
    color:#cccccc;
}

.timeline-item:first-child .timeline-item__src {
    left: 28%;
}



.timeline-item:nth-child(even) .timeline-item__src {
    top: 51px;
    left: 49.5%;
}

.timeline-item:nth-child(odd) .timeline-item__src {top: -186px;left: 44%;}

.timeline-item:first-child div {
    left: 28%;
}

.timeline-item__header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

.timeline-item__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    white-space: pre-line;
    margin: 0;
}

.timeline-item::before {
    counter-increment: count_items;
    content: counter(count_items, decimal-leading-zero);
    display: block;
    position: absolute;
    left: 211px;
    top: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #9ad351;
}

.timeline-item:first-child::before {
    counter-increment: count_items;
    content: counter(count_items, decimal-leading-zero);
    display: block;
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #9ad351;
    left: 98%;
}

.timeline-item:nth-child(even)::before {
    top: -43px;
    left: 99.5%;
}




@media (max-width: 1150px) {

  .promotion-welcome .timeline-src::before {
}
    
.plans-timeline .timeline-src::before {
    left: 8.4%;
}
    
    .timeline-item__desc {
       
        width: 95%;
    }
   
.timeline-item:nth-child(even) {
    width: 21%;
}

    timeline-item:nth-child(odd) {
    width: 14%;
}

    .timeline-item:first-child {
    width: 9%;
}

.timeline-item:first-child div {
    left: 42%;
}



.timeline-item:nth-child(even) .timeline-item__src {
    left: 40.5%;
}

    .timeline-item:nth-child(even) .glow {
    left: 76%;
}

.timeline-item:nth-child(odd) {
    width: 13%;
}

.timeline-item:last-child {
    /* width: 37%; */
}

.timeline-item:nth-child(even)::before {
    left: 77.5%;
}

    .timeline-item:nth-child(even)::after {
    left: 77.5%;
}

    .timeline-item:nth-child(odd)::before {
    left: 95%;
}

    .timeline-item:nth-child(odd)::after {
    left: 97%;
}

        .timeline-item:nth-child(odd) .glow {
    left: 96%;
        
}

    .timeline-item:first-child .glow {
    left: 121.5%;
}



    .timeline-item:first-child::before {
    left: 123%;
}

    .timeline-item:first-child::after {
    left: 123%;
}
    

        .timeline-item:last-child::before {
    left: 65%;
}

    .timeline-item:last-child::after {
    left: 69%;
}

        .timeline-item:last-child .timeline-item__src {
    left: auto;
    left: -17%;
        }
.timeline-item:last-child .glow {
    left: 66%;
}

    
}

@media (max-width: 1100px) {
    .promotion-welcome .timeline-src::before {
}

}

@media (max-width: 1024px){
.promotion-welcome .timeline-src::before {
    /* left: 6.9%; */
}

}

@media (max-width: 980px){
.promotion-welcome .timeline-src::before {
    /* left: 5.49%; */
}

}

@media (max-width:930px) {

   .timeline-item:first-child {
        width: 9%;
    }

    .promotion-welcome .timeline-src::before {
    left: 5.7%;
}

}

@media (max-width:900px) {

  

    .promotion-welcome .timeline-src::before {
    left: 50px;
}

}


@media (max-width: 840px) {

    .section-timeline {
    }

    .timeline-source {
        padding: 0;
    }
   
    .timeline-source::after {
        height: 100%;
        width: 1px;
        left: 49.7%;
        top: 0;
    }

    .timeline-item {
        position: relative;
        display: block;
        width: 19%;
        /* max-width: 211px; */
        height: 21%;
    }

    
    .timeline-item:nth-child(even) {
        width: 100%;
        height: 22.5%;
    }

    .timeline-item:nth-child(even) .timeline-item__desc {
    width: 100%;
}

    .timeline-item:nth-child(even) .timeline-item__src {
        left: 55%;
        top: 25%;
    }

    .timeline-item:nth-child(even)::before {
        left: 44%;
        top: 47%;
    }

    .timeline-item:nth-child(even)::after {
        left: 49%;
        top: 42%;
    }

    .timeline-item:nth-child(even) .glow {
    left: 48.5%;
    top: 44.5%;
}

    .timeline-item:nth-child(odd) .glow {
    left: 48.5%;
    top: 48%;
}

    .timeline-item:nth-child(odd) {
        width: 100%;
    }

    .timeline-item:nth-child(odd) .timeline-item__src {
        top: 19%;
        left: 3%;
    }

    .timeline-item:nth-child(odd)::before {
        Left: 54%;
        top: 47%;
    }

    .timeline-item:nth-child(odd)::after {
        left: 49%;
        top: 44%;
    }

    .timeline-item:first-child {
    width: 100%;
    }

    .timeline-item:first-child .timeline-item__src{
    top: 13%;
    }

    .timeline-item:first-child::before {
        left: 54%;
        top: 47%;
    }

    .timeline-item:first-child::after {
        left: 49%;
        top: 42%;
    }

    .timeline-item:first-child .glow {
    left: 48.5%;
    top: 44.5%;
}

    .timeline-item:last-child .glow {
    left: 48.5%;
    top: 28.5%;
}

     .timeline-item:last-child {
    width: 100%;
    }

    .timeline-item:last-child .timeline-item__src{
    top: -12%;
    }

    .timeline-item:last-child::before {
        left: 54%;
        top: 28%;
    }

    .timeline-item:last-child::after {
        left: 49%;
        top: 26%;
    }

   

}

@media (max-width:800px) {

 .plans-timeline .timeline-src::before {
        left: 6.85%;
    }
   
.timeline-src::before {left: 50px;}
}

@media (max-width: 750px) {
.timeline-src::before {
    left: 17%;
    bottom: 27%;
}

    .timeline-src {
    min-width: auto;
    max-width: 300px;
}

       .timeline-source::after {
         left: 50%;
       }

.plans-timeline .timeline-src::before {
    left: 17%;
}


}

@media (max-width:640px) {

    .section-timeline {
    }

    .timeline-source {
        padding: 0;
    }
   
    .timeline-source::after {
        width: 1px;
        left: 50%;
        top: 0;
        height: 94%;
    }

    .timeline-item {
        height: 20%;
    }

    
    .timeline-item:nth-child(even) {
        width: 100%;
        height: 20%;
    }

    .timeline-item:nth-child(even) .timeline-item__desc {
    width: 81%;
}

    .timeline-item:nth-child(even) div {
        left: 55%;
        top: 5%;
    }

    .timeline-item:nth-child(even)::before {
        left: 42%;
        top: 29%;
    }

    .timeline-item:nth-child(even) .glow {
    top: 29.5%;
}

    .timeline-item:nth-child(odd) .glow {
    top: 32.5%;
}

    .timeline-item:last-child .glow {
   top: 24.5%;
}

    .timeline-item:nth-child(even)::after {
        left: 49%;
        top: 26%;
    }

    .timeline-item:nth-child(odd) {
        width: 100%;
        height: 21%;
        min-height: 170px;
    }

    .timeline-item:nth-child(odd) div {
        top: 2%;
        left: 0%;
    }

    .timeline-item:nth-child(odd)::before {
        Left: 54.7%;
        top: 34%;
    }

    .timeline-item:nth-child(odd)::after {
        left: 49%;
        top: 30%;
    }

 
    .timeline-item:first-child {
    width: 100%;
    height: 21%;
    }

    .timeline-item:first-child div{
    top: 0%;
    }

    .timeline-item:first-child::before {
        left: 55%;
        top: 34%;
    }

    .timeline-item:first-child::after {
        left: 49%;
        top: 30%;
    }

    .timeline-item:first-child .glow {
        /* left: 48%; */
        top: 32%;
    }

     .timeline-item:last-child {
    width: 100%;
    height: 20%;
    }

    .timeline-item:last-child .timeline-item__src{
    top: 3%;
    }

    .timeline-item:last-child::before {
        left: 55%;
        top: 6.5vh;
    }

    .timeline-item:last-child::after {
        left: 49%;
        top: 6.5vh;
    }

    .promotion-welcome .timeline-src::before {
    right: 82.9%;
    bottom: 26%;
}

       .timeline-item {
    height: 20%;
    }

}

@media (max-width:570px) {

    .dev-timeline-item__src {
    padding-left: 37px;
    width: 360px;
    letter-spacing: 0.01px;
}

    .plans-timeline .dev-timeline-item__src {
    width: 90vw;
    max-width: 260px;
}

    .promotion-welcome .timeline-src::before {
    bottom: 29%;
}

    .timeline-src::before {
   bottom: 25%;
}

       .design-welcome .timeline-src::before {
   bottom: 28%;
}


 

    .timeline-source {
        padding: 0;
        width: 94%;
    }
   
    .timeline-source::after {
        width: 1px;
        left: 3.3%;
        top: 7px;
    }

    .timeline-item {
        height: 21%;
    }

    .timeline-item:first-child {
    width: 100%;
    /* height: 32%; */
    min-height: 153px;
}

      

    .timeline-item:nth-child(even) {
        height: 18%;
        min-height: 148px;
    }    

.timeline-item:nth-child(even) .timeline-item__src {
        left: 22%;
        top: 4%;
    }

    .timeline-item:nth-child(even)::before {
        left: 8%;
        top: 3%;
    }
    
    .timeline-item:nth-child(even)::after {
        left: 2%;
        top: 0;
    }

    .timeline-item:nth-child(odd) .timeline-item__src {
        left: 22%;
        top: 5%;
    }

    .timeline-item:nth-child(odd)::before {
        top: 4%;
        left: 8%;
    }
    
    .timeline-item:nth-child(odd)::after {
        left: 2%;
        top: 1%;
    }

    .timeline-item:first-child .timeline-item__src {
        left: 22%;
        top: 5%;
    }

    .timeline-item::before {
        left: 8%;
        
    }

    .timeline-item:first-child::before {
        left: 8%;
        top: 3%;
    }
    
    .timeline-item:first-child::after {
        left: 2%;
        top: 0%;
    }

        .timeline-item:nth-child(even) .glow {
    top: 3.5%;
    left: 1.5%;
}

    .timeline-item:nth-child(odd) .glow {
    top: 4.5%;
    left: 1.5%;
    }
         .timeline-item:first-child .glow {
    top: 3.5%;
}

    .timeline-item:last-child .glow {
    top: 3.5%;
}

    .timeline-item::before {
        left: 8%;
        
    }

        .timeline-item:last-child {
    min-height: 147px;
    }

    .timeline-item:last-child .timeline-item__src {
    top: 9px;
    }

    .timeline-item:last-child::before {
        top: px;
    }
    
    .timeline-item:last-child::after {
    top: 1px;
    }

    .timeline-item .timeline-item_src {
        left:10%;
}

    




.timeline-item::before {

}

.timeline-item::after {

}

.timeline-item__header {
    font-size:16px;
    line-height: 12px;
}

.timeline-item__desc {
    font-size:15px;
    width: 86%;
    line-height: 17px;
    margin-top: 0;
    padding-top: 0;
    text-align: start;
}

    .dev-timeline-item__src {
    padding-left: 20px;
    width: 315px;
    }

}

   @media (max-width:500px) {

.timeline-source {
}

.timeline-source:after {
    
}

       
       
       .timeline-src::before {
    right: 83%;
    top:unset;
}


       .promotion-welcome .timeline-src::before {
    left: 50px;
}

       .design-welcome .timeline-src::before {
    bottom: 28%;
}
   }

  @media (max-width:450px) {


.timeline-source:after {
    left: 3.8%;
}

  }


@media (max-width:375px) {

    .dev-timeline .timeline-src {
    padding-top: 20px;
}

    .timeline-src::before, .promotion-welcome .timeline-src::before {height: 83%;bottom: 16%;}

    .promotion-welcome .timeline-src::before {
    bottom: 19%;
    top: unset;
    height: 80%;
}

    .design-welcome .timeline-src::before {
    bottom: 18%;
    height: 80%;
}

    .section-timeline {
        padding-bottom: 51px;
    }

    .timeline-source::after {
   left: 2.1%;
   top: 11px;
   height: 83%;
}

    

    .timeline-item {
        
        height: 20%;
    }

    .dev-timeline-item__src {
    padding-left: 38px;
    width: 256px;
    padding-bottom: 0;
}

   

      

    .timeline-item:nth-child(even) {
        height: 18%;
    }    

   .timeline-item:nth-child(even) .timeline-item__src {
    top: 19%;
}

    .timeline-item:nth-child(even)::before {
        left: 9%;
        top: 17%;
    }
    
    .timeline-item:nth-child(even)::after {
        left: 0%;
        top: 14%;
    }

    .timeline-item:nth-child(odd) .timeline-item__src {
    top: 18%;
}

    .timeline-item:first-child .timeline-item__src {
    left: 22%;
    top: 5%;
}

    .timeline-item:nth-child(odd)::before {
        top: 16%;
        left: 9%;
    }
    
    .timeline-item:nth-child(odd)::after {
        left: 0%;
        top: 13%;
    }

    .timeline-item:first-child .timeline-item__src {
        top: 5%;
    }

    .timeline-item:nth-child(even) .glow {
    left: -1%;
    top: 16.5%;
}

    .timeline-item:nth-child(odd) .glow {
    top: 15.5%;
    left: -1%;
}

    .timeline-item:first-child .glow {
    top: 3%;
}

    .timeline-item:flast-child .glow {
    /* left: 48%; */
    top: 32%;
}

    .timeline-item:first-child {
       height: 22%;
    }

    .timeline-item:first-child::before {
        left: 9%;
        top: 3%;
    }
    
    .timeline-item:first-child::after {
        left: 0%;
        top: 0%;
    }

    .timeline-item:last-child div {
        
    }

    .timeline-item:last-child::before {
        top: 16%;
    }
    
    .timeline-item:last-child::after {
        
    }

    .timeline-item div {
        left:10%;
}

.timeline-item::before {

}

.timeline-item::after {

}

    .timeline-item__src {
        width:15%;
        min-width: 230px;
        max-width: 230px;
    }

.timeline-item__header {
    font-size:16px;
    line-height: 12px;
}

.timeline-item__desc {
    font-size:15px;
    width: 100%;
    line-height: 18px;
}
   
}